/*@media (max-width: 991px){
    #nosActions{
        display: flex;
        flex-direction: column;
        align-items: center;
    }    
}*/


@media (min-width: 991px){
    #nosActions{
        justify-content: space-around;
    }    

    #sectionQuiNousSommes{
        display: flex;
        flex-direction: row;
    }

    #sectionDon{
        justify-content: center;
    }
}
